<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:wght@400;700&family=Staatliches&display=swap' rel='stylesheet')
        script(src='https://kit.fontawesome.com/ec82aa18ad.js' crossorigin='anonymous')
        link(rel="stylesheet" href="/css/style.css")
    title #{titulo} | #{pagina}
    body(class=clase)
        include ./includes/header
        block slider
        block contenido
        include ./includes/footer
