extends ../layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg" alt="Nosotros")
            .col-md-7
                h1= pagina
                blockquote Aliquam erat volutpat. Curabitur elit ex, tempor condimentum tincidunt et, vehicula non sapien. Phasellus pulvinar magna a egestas congue. Nam porta nibh eget tortor tempus sodales. Fusce aliquam fermentum urna, et elementum turpis mollis eget. Nulla a nisi enim.
                p Quisque id luctus sem, a auctor est. Aliquam a faucibus arcu. Pellentesque condimentum vulputate faucibus. Phasellus a pellentesque lacus. Vestibulum sed rutrum mi, quis aliquet justo. Aliquam erat volutpat. Vivamus lacinia id nulla tincidunt accumsan.
                p sodales id suscipit in, rhoncus eget diam. Aenean sit amet dictum nisi, a imperdiet tellus. Integer dignissim, metus id rhoncus accumsan, nunc risus egestas nulla, vel porttitor augue est ac quam. Fusce nec dui ullamcorper, bibendum purus ac, elementum purus. Ut volutpat mi eget lacus tristique vehicula. Maecenas semper elementum semper

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean dapibus imperdiet ex, nec dapibus enim tristique et. Aliquam erat volutpat. Curabitur elit ex, tempor condimentum tincidunt et, vehicula non sapien. Phasellus pulvinar magna a egestas congue.

                .col-md-4
                    img(src="/img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aenean dapibus imperdiet ex, nec dapibus enim tristique et. Aliquam erat volutpat. Curabitur elit ex, tempor condimentum tincidunt et, vehicula non sapien. Phasellus pulvinar magna a egestas congue.
                .col-md-4
                    img(src="/img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Aenean dapibus imperdiet ex, nec dapibus enim tristique et. Aliquam erat volutpat. Curabitur elit ex, tempor condimentum tincidunt et, vehicula non sapien. Phasellus pulvinar magna a egestas congue.

